@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background: linear-gradient(0deg, #FBDCEB, #C0868D);
}

* {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    animation: glow 1.5s ease-in-out infinite alternate; /* Add the glow animation to all text elements */
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    }
}
a {
    visibility: hidden;
}

div.embed-clock-copyright {
    background-color: transparent !important;
}

table {
    display: inline;
}

#hrt,
#switchedTime {
    padding-top: 20px;
    font-size: 20px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

#switchedTime i {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#switchedTime i:hover {
    transform: scale(1.2);
}

#countdown {
   
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#birthdayTime {
    font-size: 20px;
  
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.img {
  
    margin-top: 20px;
}

#chatBox {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#closeChat {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.ttn-thetimenow-clock {
    color: white !important;
}

.ttn-thetimenow-clock-date {
    font-size: 30px !important;
}

.info
{
    font-size: 22px;
    
}
.gif-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    pointer-events: none;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.additional-gif {
    width: 100px; /* Adjust the width of additional GIFs as needed */
    height: 100px; /* Adjust the height of additional GIFs as needed */
    margin: 10px;
    border-radius: 10px;
    transform: translateY(-100%);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}


.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
