@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #fbdceb;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; /* Increase font size for better readability */
}
h1 {
    margin-top: 20px;
    font-size: 24px; /* Increase font size for headings */
}

* {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    animation: glow 1.5s ease-in-out infinite alternate; /* Add the glow animation to all text elements */
}
@keyframes glow {
    to {
        text-shadow: none;
    }
}

a {
    visibility: hidden;
}

div.embed-clock-copyright {
    background-color: transparent !important;
}

table {
    display: inline;
}

#hrt {
    font-size: 18px;
    margin-top: 20px; /* Add more spacing between sections */
}


#img1 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 20px; /* Add more spacing between sections */
}
img {
    width: 100%; /* Ensure images are responsive */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}


img:hover {
    transform: scale(1.1);
}

#switchedTime i {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#switchedTime i:hover {
    transform: scale(1.2);
}

#countdown {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add background color to improve readability */
}

#birthdayTime {
    font-size: 18px;
    margin-top: 10px;
}
#datingTime {
    font-size: 18px;
    margin-top: 20px; /* Add more spacing between sections */
}


.img {
    margin-top: 20px;
}

.ttn-thetimenow-clock {
    color: white !important;
}

.ttn-thetimenow-clock-date {
    font-size: 24px !important;
}

.info {
    font-size: 16px; /* Maintain consistent font size for information */
    margin-top: 10px;
}
.countdownContainer {
    margin: 0 auto; /* Center the countdown table */
}
.countdownContainer td {
    padding: 5px 10px; /* Add padding to table cells */
}

.gif-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    pointer-events: none;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.additional-gif {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 10px;
    animation: slideDown 0.5s ease-in-out forwards; /* Apply slideDown animation */
  }


/* Add animation for sliding down */
@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }